<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <title></title>
    <link rel="icon" href="img/logotipo1.png">
    <link href="styles/pagcompras.css" rel="stylesheet" />
    <meta charset="UTF-8">
</head>
<body>
    <header>
        <nav>
            <div class="logo"> <img src="img/logotipo1.png" alt="logoTopo" style="width: 250px; height: 250px;" /></div>
            <div class="menu_topo">
                <ul id="barra">
                    <li><a href="/paginaInicial">Home</a></li>
                    <li><a href="/pagprodutos">Produtos</a></li>
                    <li><a href="/contatos">Contato</a></li>
                    <li><a href="/sessao/logout">Sair</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="container">
        <div class="conteudo">
            <div class="tela_de_compra">
                
                <img src="https://images.tcdn.com.br/img/img_prod/740836/pc_gamer_top_concordia_processador_ryzen_5_3400g_16gb_ssd_480_gb_fonte_500w_windows_10_7771_3_534b01a28b8a1e61650933914f8176bb.jpg" />
            </div>
            <div class="infor">
                <h1>COMPUTADOR CONCORDIA AMD</h1>
                <br>
                <p> Computador Gamer Top Concórdia <br>
                    Processador: Ryzen 5 3400g <br>
                    Memória Ram: 16gb <br>
                    Memória SSD: 480gb <br>
                    Fonte: 500w <br>
                    Sistema: Windows 10 PRO <br>
                </p>
                <p>computador de extrema qualidade e recomendado para todas as idades, adequado para jogos atuais sendo capaz de jogar na melhor qualidade possível</p>
                
                <br>
                <br>
                <form action="">
                <input type="number" placeholder="Ex: 64220000" required> Digite o seu CEP. <br> <br>
                <input type="text" placeholder="Digite aqui"> Cidade, Estado. <br> <br>
                <input type="text" placeholder="Digite aqui"> Rua, Bairro. <br> <br>
                <input type="text" placeholder="Digite aqui"> Ponto de Referência(Opcional) <br> <br>
                <input type="email" placeholder="Digite aqui"> Email <sub>(para futuras promoções)</sub> <br> <br>
                <h2>R$ 4.500.00</h2><small>com desconto de 15% na compra por pix</small> <br> <br>
                <div class="compra"><button>Comprar</button></div>
                </form>
            </div>
            
        </div>
    </section>
</body>
</html>