<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <title>Vendas Online</title>
    <link rel="icon" href="img/logotipo1.png">
    <link href="styles/pagcont.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav>
            <div class="logo"> <img src="img/logotipo1.png" alt="logoTopo" style="width: 250px; height: 250px;" /></div>
            <div class="menu_topo">
                <ul id="barra">
                    <li><a href="/paginaInicial">Home</a></li>
                    <li><a href="/pagprodutos">Produtos</a></li>
                    <li><a href="/contatos">Contato</a></li>
                    <li><a href="/sessao/logout">Sair</a></li>
                </ul>
            </div>
        </nav>
        </header>
    <section id="container">
        <div class="conteiner_dos_contatos">
            <div class="contatos">

                <h3>Emilson Sipaúba</h3>
                <P>➣ CEO e Desenvolvedor<br>➣ Contato: (86) 99999-9999<br>➣ Formação: Sistemas de Informação</P><br />
                <h3>Nathanael Santos</h3>
                <P>➣ CEO e Desenvolvedor<br>➣ Contato: (86) 99999-9996<br>➣ Formação: Sistemas de Informação</P><br />
                <h3>Denilson Costa</h3>
                <P>➣ CEO e Desenvolvedor<br>➣ Contato: (86) 99999-5555<br>➣ Formação: Sistemas de Informação</P><br />
                <h3>Haniel Amorim</h3>
                <P>➣ CEO e Desenvolvedor<br>➣ Contato: (86) 99555-7777<br>➣ Formação: Sistemas de Informação</P>
                <br /><br />
                <p>"Página de Contatos ainda se encontra em desenvolvimento, junto com algumas partes especificas do site - Att: Administração"</p>
            </div>
            
        </div>
    </section>
</body>
</html>