<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <title>Home</title>
    <link rel="icon" href="img/logotipo1.png">
    <link href="styles/index.css" rel="stylesheet" />
    <meta charset="UTF-8"/>
</head>
<body>
    <header>
        <nav>
            <div class="logo"> <img src="img/logotipo1.png" alt="logoTopo" style="width: 250px; height: 250px;" /></div>
            <div class="menu_topo">
                <ul id="barra">
                    <li><a href="/paginaInicial">Home</a></li>
                    <li><a href="/pagprodutos">Produtos</a></li>
                    <li><a href="/contatos">Contato</a></li>
                    <li><a href="/sessao/logout">Sair</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="container">
     
        </div>
           
        <div class="conteiner_dos_items">
            <div class="items">
                <img src="https://static.dafiti.com.br/p/Evoltenn-T%C3%AAnis-Evoltenn-Easy-Style-Preto-Amarelo-1382-3414617-1-zoom.jpg" alt="Alternate Text" />
                <h3>Tênis envolved New Version - (R$ 100.00)</h3>
                <P>Com um estilo moderno e design inovador o tênis Evoltenn Easy Style é perfeito para pessoas exigentes que buscam conforto.</P>
            </div>
            <div class="items">
                <img src="https://img.irroba.com.br/fit-in/600x600/filters:fill(fff):quality(95)/adaption/catalog/produtos/easy/preto-2.jpg" alt="Alternate Text" />
                <h3>Tênis Adaption Yzy Boost - Preto - (R$ 80)</h3>
                <P>Tênis Esporte, o cabedal confeccionado em tecido super macio e de alta resistência proporcionando muito mais conforto.</P>
            </div>
            <div class="items">
                <img src="https://static.netshoes.com.br/produtos/tenis-masculino-polo-joy-casual-em-lona/12/FSO-0021-012/FSO-0021-012_zoom1.jpg?ts=1587511966" alt="Alternate Text" />
                <h3>Tênis Masculino Polo Joy Casual em Lona - (R$80)</h3>
                <P>o Sapatênis da Polo Joy é uma boa pedida para calçar durante o cotidiano. Modelo confortável e resistente.</P>
            </div>
        </div>
        <div class="conteiner_dos_items">
            <div class="items">
                <img src="https://static.dafiti.com.br/p/Evoltenn-T%C3%AAnis-Evoltenn-Easy-Style-Preto-Branco-4323-7207617-1-zoom.jpg" alt="Alternate Text" />
                <h3>Tênis Evoltenn Easy Style - Preto e Branco - (R$ 100.00)</h3>
                <p> perfeito para pessoas exigentes que buscam conforto, segurança e um estilo único, não apenas para praticar atividades físicas.</p>
            </div>
            <div class="items">
                <img src="https://m.media-amazon.com/images/I/61-PblYntsL._AC_SL1500_.jpg" alt="Alternate Text" />
                <h3>Nitendo Switch - Azul e Vermelho Neon - (R$ 2.800.00)</h3>
                <p>Video-game popular no mundo gamer, grande espaço e demanda grande de jogos!</p>
            </div>
            <div class="items">
                <img src="https://http2.mlstatic.com/D_NQ_NP_794435-MLA45046407331_032021-O.jpg" alt="Alternate Text" />
                <h3>Xbox Series X - Preto e Branco 500gb - (R$ 4.900.00)</h3>
                <p>Versão mais recente de Console da Microsoft com desenho superior ao seu antecessor Xbox One.</p>
            </div>
        </div>
        <div class="conteiner_dos_items">
            <div class="items">
                <img src="https://a-static.mlcdn.com.br/618x463/console-playstation-5-ps5-sony/magazineluiza/043079500/9d4f0cd7244929620b459cf9fd5e471c.jpg" alt="Alternate Text" />
                <h3>Playstation 5 1TB e 500GB - Branco - (R$ 5.500.00)</h3>
                <p>Versão mais recente de console da Sony, com um poder de processamento superior a sua antiga versão.</p>
            </div>
            <div class="items">
                <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps4-slim-image-block-01-en-24jul20?$native--t$" alt="Alternate Text" />
                <h3>Sony Playstation 4 - Preto 1TB - (R$ 2.700.00)</h3>
                <p>Desenvolvido pela Sony, é um console popular no mundo com grande demanda grande de jogos!</p>
            </div>
            <div class="items">
                <img src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/c/e/celular-smartphone-galaxy-a31-128gb-6-4-samsung_320908_1.jpg" alt="Alternate Text" />
                <h3>Samsung Galaxy A31 - 128GB Azul - (R$1.250.00)</h3>
                <P>Celular de bom desempenho, ótimo para jogos e outras atividas e com uma ótima câmera de 48mp</P>
            </div>
        </div>
        <div class="conteiner_dos_items">
            <div class="items">
                <img src="https://a-static.mlcdn.com.br/618x463/celular-samsung-galaxy-a32-128gb-octa-core-camera-quadrupla/gazinshop/9824/b87e1377a3d304ef717671fde7638147.jpg" alt="Alternate Text" />
                <h3>Samsung Galaxy A32 - 128GB Branco - (R$ 1.200.00)</h3>
                <P>Smartphone Samsung Galaxy A32 Tela incrível, rolagem realmente suave Encante-se com detalhes vibrantes no display full HD+.</P>
            </div>
            <div class="items">
                <img src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/c/e/celular-smartphone-galaxy-a72-128gb-6-7-samsung_475186.jpg" alt="Alternate Text" />
                <h3>Samsung Galaxy A72 - 128GB Azul - (R$ 2.100.00)</h3>
                <P>O Display Infinito full HD+ Super AMOLED de 6.7 polegadas você alcança 800 nits para proporcionar mais nitidez.</P>
            </div>
            <div class="items">
                <img src="https://a-static.mlcdn.com.br/1500x1500/celular-xiaomi-redmi-9a-32gb-dual-cx298azu/gazinshop/8942/6cd73189d8bc3bcbfc70290bb49aaa59.jpg" alt="Alternate Text" />
                <h3>Xiomi Redmi 9A - 32GB Azul e Branco - (R$ 1.200.00)</h3>
                <P>Smartphone Samsung Galaxy A32 Tela incrível, rolagem realmente suave Encante-se com detalhes vibrantes no display full HD+.</P>
            </div>
        </div>
    </section>
   
</body>
</html>